<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Happy Birthday</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="card">
        <img src="../img/ulangtahun.jpg" alt="birthday" class="birthday">
        <div class="text">
            <h1>สุขสันต์วันเกิดนะค้าบที่รัก</h1>
            <p>สุขสันต์วันเกิดนะค้าบ ปีนี้อายุ16แล้วนะค้าบ ขอให้ปีนี้เป็นปีที่ดีนะ สุขภาพร่างกายแข็งแรง ไม่เจ็บไม่ป่วย ถ้ามีอะไรที่ทำเครียดหรือไม่สบายใจก็บอกเค้านะค้าบ เค้าจะคอยรับฟังทุกปัญญาเลยค้าบ 
                <br><br>
                เค้าจะคอยอยู่ข้างๆเตงเสมอค้าบ วันไหนที่รู้สึกแย่ ก็ยังมีเค้าอยู่นะค้าบ เค้าจะไม่ทิ้งเตงไปไหนแน่นนอนค้าบ เค้าจะอยู่กับเตงไปตลอดเลยค้าบ
                <br><br>
                อยู่สร้างความทรงจำดีๆไปด้วยนะนานๆเลยนะค้าบที่รัก เค้ารอวันที่เราจะได้อยู่ด้วยกันอยู่นะค้าบ ได้ไปเที่ยวด้วยกัน ได้นอนด้วยกัน ได้ไปไหนด้วยกัน อยากให้ถึงวันนั้นเร็วๆจัง
                <br><br>
                อยู่ให้เค้ารัก อยู่ให้เค้ากอด อยู่ให้เค้าห่วง อยู่ให้เค้าหวง อยู่ให้เค้าหึง อยู่ให้เค้าดุ อยู่ให้ง้อ อยู่ให้เค้าตามใจแบบนี้ไปนานๆเลยนะค้าบที่รัก
                <br><br>
                สุดท้ายนี้เค้าอยากจะบอกว่า ยิ้มเยอะๆนะค้าบตอนเตงยิ้มน่ารักมากเลยค้าบ เค้ารักเตงมากนะค้าบ ไม่มีวันไหนที่ไม่รักเลยนะค้าบมีแต่รักมากขึ้นทุกวันค้าบ สุขสันต์วันเกิดนะค้าบคนเก่ง🎉🎂
            </p>
            <p class="muted">- Yuki -</p>
        </div>
        <div class="space"></div>
        <audio controls autoplay>
            <source src="../audio/hbd.mp3" type="audio/mp3"> Your browser does not support the audio element.
        </audio>
        <script src="../js/script.js"></script>
    </div>
</body>

</html>